body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: blanchedalmond;
}

.main-content{
    height:1000px;
    background-color: #fff;
}

.about{
    color: #000000;
}