.main-header{
    background-color: #2b3137;
    color: #fff;
}

.skills{
    background-color: #2b3137;
}

.skills .content-head{
    color: #fff;
    font-size: small;
    text-decoration: underline;
}

.skills .skills-list {
    font-size: smaller;
    color: hsla(0,0%,100%,.6);
}

@media (max-width:500px){
    .skills .skills-list, .skills .content-head{
        text-align:center;
        font-size: large;
    }

    .skills{
        min-height: auto!important;
    }
}

.project{
    padding: 30px;
}
