.main-banner-image{
    padding-top: 0px;
}

.main-heading{
    font-family: 'Prompt', sans-serif;
}

.content-highlights .list-group-item{
    background-color: transparent!important;
    border: 0px;
}

.footer-highlights .list-group-item{
    background-color: transparent!important;
    border: 0px;
    padding: .15rem .35rem;
}

.footer-headings{
    text-decoration: underline;
    text-underline-position: under
}

@media (min-width: 300px){
    .main-banner{
        text-align: center;
    }
    .main-banner-image{
        padding-top: 10px;
    }
  }

  @media (min-width: 600px){
    .main-banner{
        text-align: inherit;
    }
    .main-banner-image{
        padding-top: 20px;
    }
  }

  .icons{
    color: #c7cdd2;
  }

  .text-gray{
      color: #959696;
  }

  .content-heading{
      color: #fff;
  }

.checked {
  color: orange;
}

.price{
    font-size: 2.8em;
    font-style: italic;
    color:#dc3545!important;
}

.price-footer{
    background-color: transparent;
    border: transparent;
}